.ant-pro-global-footer {
  margin: 48px 0 24px 0;
  padding: 0 16px;
  text-align: center;
}

/* 链接 */
.ant-pro-global-footer-links {
  margin-bottom: 8px;
  font-size: 14px;
}
.ant-pro-global-footer-links a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;
  opacity: 0.45;
}
.ant-pro-global-footer-links a:not(:last-child) {
  margin-right: 40px;
}
.ant-pro-global-footer-links a:hover {
  opacity: 0.85;
}

/* 版权声明 */
.ant-pro-global-footer-copyright {
  color: inherit;
  opacity: 0.45;
  font-size: 14px;
}
