.ant-pro-global-footer {
  margin: 48px 0 24px 0;
  padding: 0 16px;
  text-align: center;
}
.ant-pro-global-footer-links {
  margin-bottom: 8px;
}
.ant-pro-global-footer-links a {
  color: "#333";
  transition: all 0.3s;
}
.ant-pro-global-footer-links a:not(:last-child) {
  margin-right: 40px;
}
.ant-pro-global-footer-links a:hover {
  color: "#666";
}
.ant-pro-global-footer-copyright {
  color: "#333";
  font-size: "16px";
}
