/* 滚动条滑块 */
.ant-pro-sider > .ant-layout-sider-children {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.ant-pro-sider > .ant-layout-sider-children ::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.ant-pro-sider > .ant-layout-sider-children ::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 3px;
  box-shadow: inset 0 0 5px rgba(37, 37, 37, 0.05);
}
.ant-pro-sider > .ant-layout-sider-children ::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.05);
}

/* 菜单项图标img */
.ant-pro-menu-item-icon {
  width: 14px;
  min-width: 14px;
  vertical-align: -0.125em;
  line-height: 0;
}

.ant-pro-menu-item-icon + span {
  margin-inline-start: 10px;
  opacity: 1;
  transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), margin 0.3s,
    color 0.3s;
}

.ant-menu-inline-collapsed .ant-pro-menu-item-icon {
  margin: 0;
  width: 16px;
  min-width: 16px;
  line-height: 40px;
}
.ant-menu-inline-collapsed .ant-pro-menu-item-title {
  display: inline-block;
  opacity: 0;
}

/* 菜单项文字无图标前缀时取首个字符 */
.ant-menu-inline-collapsed .ant-pro-menu-item-title-no-icon {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  display: inline-block;
  width: 14px;
  min-width: 14px;
  transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.ant-menu-inline-collapsed .ant-pro-menu-item-title-no-icon::first-letter {
  font-size: 14px;
  font-weight: 500;
  margin-right: 12px;
}
