.ant-pro-sider {
  position: relative;
  background-color: #fff;
  border-right: 0;
  z-index: 20;
}
.ant-pro-sider.ant-pro-sider-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  box-shadow: 2px 0 8px #1d23290d;
}

.ant-pro-sider .ant-menu.ant-menu-root {
  border-inline-end: unset;
}

.ant-pro-sider-icon {
  width: 14px;
  vertical-align: baseline;
}

/*menuHeaderRender LOGO区域 side*/
.ant-pro-sider-header {
  position: relative;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  cursor: pointer;
  transition: padding 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.ant-pro-sider-header > a {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 32px;
}
.ant-pro-sider-header > a > img {
  display: inline-block;
  height: 32px;
  vertical-align: middle;
}
.ant-pro-sider-header > a > img + h1 {
  margin-left: 12px;
}
.ant-pro-sider-header > a > h1 {
  display: inline-block;
  height: 32px;
  margin: 0;
  color: inherit;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  vertical-align: middle;
  animation: pro-layout-title-hide 0.3s;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 132px;
}
@keyframes pro-layout-title-hide {
  0% {
    display: none;
    opacity: 0;
  }
  60% {
    display: none;
    opacity: 0;
  }
  100% {
    display: unset;
    opacity: 1;
  }
}

.ant-pro-sider.ant-layout-sider-collapsed .ant-pro-sider-header {
  padding: 8px;
}

.theme-light.theme-menu-dark .ant-pro-sider-header {
  color: rgba(255, 255, 255, 0.65);
  background: #001529;
}
.theme-light.theme-menu-light .ant-pro-sider-header {
  color: rgba(0, 0, 0, 0.88);
  background: #ffffff;
}
.theme-dark.theme-menu-dark .ant-pro-sider-header {
  color: rgba(255, 255, 255, 0.65);
  background: #001529;
}
.theme-dark.theme-menu-light .ant-pro-sider-header {
  color: rgba(255, 255, 255, 0.85);
  background: #141414;
}

/*menuHeaderExtraRender区域*/
.ant-pro-sider-header-extra {
  margin-bottom: 16px;
  padding: 0 16px;
}
.ant-pro-sider-header-extra-no-header {
  margin-top: 16px;
}

/*menuContentRender区域*/
.ant-pro-sider-content {
  flex: 1;
  overflow: hidden auto;
}

.ant-pro-sider-content-menu {
  min-height: 100%;
}

/*collapsedButtonRender区域*/
.ant-pro-sider-collapsed {
  width: 100%;
}
.ant-pro-sider-collapsed ul.ant-menu-root {
  height: auto;
}

/*menuFooterRender区域*/
.ant-pro-sider-footer {
  width: 100%;
}
