.ant-pro-top-nav-header {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
  transition: background 0.3s, width 0.2s;
}

.ant-pro-top-nav-header-main {
  display: flex;
  height: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

/* 导航菜单区 */
.ant-pro-top-nav-header-main-menu {
  min-width: auto;
  flex: 1;
}
.ant-pro-top-nav-header-main-menu .ant-menu.ant-menu-horizontal {
  border-bottom: unset;
}

/* 左侧区域 */
.ant-pro-top-nav-header-main-left {
  display: flex;
  min-width: 192px;
}

/* 左侧区域-LOGO区域 mix top */
.ant-pro-top-nav-header-logo {
  position: relative;
  min-width: 165px;
  height: 100%;
  overflow: hidden;
}
.ant-pro-top-nav-header-logo img {
  display: inline-block;
  height: 32px;
  vertical-align: middle;
}
.ant-pro-top-nav-header-logo h1 {
  display: inline-block;
  margin: 0 0 0 12px;
  color: var(--ant-primary-color);
  font-weight: 600;
  font-size: 18px;
  vertical-align: top;
}
