// 布局头
.ant-layout-header {
  &.ant-pro-layout-header {
    background: transparent;
    padding: 0px;
    height: 48px;
    line-height: 48px;
    width: 100%;
    z-index: 19;
    transition: width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);

    &-light {
      background: #fff;
    }
    &-fixed {
      position: fixed;
      top: 0;
    }
  }
}
