.ant-pro-page-container-content {
  max-width: 1224px;
  margin: 0 auto;
}
.ant-pro-page-container-content.ant-pro-page-container-flex {
  max-width: 100%;
}
.ant-pro-page-container-content > .ant-pro-page-container-main {
  margin: 24px;
}

/* 页头内容区 */
.ant-pro-page-container-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.ant-pro-page-container-header > .content {
  flex: auto;
  max-width: 100%;
  overflow: hidden;
}
.ant-pro-page-container-header > .content-extra {
  flex: 0 1 auto;
  white-space: nowrap;
}
