.ant-pro-grid-content-children {
  margin: 24px 24px 0;
}
.ant-pro-page-container-warp {
  background-color: #fff;
}
.ant-pro-page-container-warp .ant-tabs-bar {
  margin: 0;
}
.ant-pro-page-container-ghost .ant-pro-page-container-warp {
  background-color: transparent;
}
.ant-pro-page-container-main .ant-pro-page-container-detail {
  display: flex;
}
.ant-pro-page-container-main .ant-pro-page-container-row {
  display: flex;
  width: 100%;
}
.ant-pro-page-container-main .ant-pro-page-container-title-content {
  margin-bottom: 16px;
}
.ant-pro-page-container-main .ant-pro-page-container-title,
.ant-pro-page-container-main .ant-pro-page-container-content {
  flex: auto;
}
.ant-pro-page-container-main .ant-pro-page-container-contentExtra,
.ant-pro-page-container-main .ant-pro-page-container-main {
  flex: 0 1 auto;
}
.ant-pro-page-container-main .ant-pro-page-container-main {
  width: 100%;
}
.ant-pro-page-container-main .ant-pro-page-container-title {
  margin-bottom: 16px;
}
.ant-pro-page-container-main .ant-pro-page-container-logo {
  margin-bottom: 16px;
}
.ant-pro-page-container-main .ant-pro-page-container-contentExtra {
  min-width: 242px;
  margin-left: 88px;
  text-align: right;
}
@media screen and (max-width: 1200px) {
  .ant-pro-page-container-main .ant-pro-page-container-contentExtra {
    margin-left: 44px;
  }
}
@media screen and (max-width: 992px) {
  .ant-pro-page-container-main .ant-pro-page-container-contentExtra {
    margin-left: 20px;
  }
}
@media screen and (max-width: 768px) {
  .ant-pro-page-container-main .ant-pro-page-container-row {
    display: block;
  }
  .ant-pro-page-container-main .ant-pro-page-container-action,
  .ant-pro-page-container-main .ant-pro-page-container-contentExtra {
    margin-left: 0;
    text-align: left;
  }
}
@media screen and (max-width: 576px) {
  .ant-pro-page-container-detail {
    display: block;
  }
  .ant-pro-page-container-contentExtra {
    margin-left: 0;
  }
}
