// 左侧栏
.ant-layout-sider {
  &.ant-pro-sider {
    &.ant-pro-sider-fixed {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10;
      height: 100%;
      overflow: auto;
      overflow-x: hidden;
      box-shadow: 2px 0 8px rgba(29, 35, 41, 0.05);
    }
  }

  & .ant-layout-sider-children {
    display: flex;
    flex-direction: column;
    height: 100%;

    & .ant-pro-sider-logo {
      position: relative;
      display: flex;
      align-items: center;
      padding: 16px;
      cursor: pointer;
      transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);

      &-collapsed {
        padding: 16px 8px;
        overflow: hidden;
      }

      & > a {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 32px;
      }
      & > a > img {
        display: inline-block;
        height: 32px;
        vertical-align: middle;
      }
      & > a > h1 {
        display: inline-block;
        height: 32px;
        margin: 0 0 0 12px;
        color: #fff;
        font-weight: 600;
        font-size: 18px;
        line-height: 32px;
        vertical-align: middle;
        animation: sider-logo-hide 0.3s;
      }
    }
  }

  &-light .ant-layout-sider-children {
    & .ant-pro-sider-logo {
      & > a > h1 {
        color: var(--ant-primary-color);
      }
    }
  }

  // logo隐藏动画
  @keyframes sider-logo-hide {
    0% {
      display: none;
      opacity: 0;
    }

    80% {
      display: none;
      opacity: 0;
    }

    to {
      display: unset;
      opacity: 1;
    }
  }
}
