// @import 'ant-design-vue/dist/antd.variable.less';
// // @import 'ant-design-vue/dist/antd.dark.less';

@ant-prefix: "ant";
@basicLayout-prefix-cls: ~'ant-pro-basicLayout';
@pro-layout-header-height: 48px;
